@model CoreEditor.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Просмотр заказа</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserOrganization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserOrganization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdvType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvType.TypeName)
        </dd>
        <dt>
            Размер вида
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvType.TypeSize)
        </dd>
        <dt>
            Цена вида
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvType.TypePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.MaterialName)
        </dd>
        <dt>
            Размер материала
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.MaterialSize)
        </dd>
        <dt>
            Цена материала
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.MaterialPrice)
        </dd>
        <dt>
            Итоговая цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>
